:root {
  --blue: #0066FF;
  --bg-color: #FFE790;
  --shadow-color: rgba(0, 0, 0, 0.25);
}

.roundName {
  position: absolute;
  background: black;
  width: 861px;
  height: 75px;
  left: 530px;
  top: 64px;
  color: var(--bg-color);
  border: 1px solid var(--bg-color);
  border-radius: 20px;
  box-shadow: 0 0 23.8px var(--shadow-color);
  text-align: center;
  font-size: 48px;
  text-transform: uppercase;
  white-space: pre-wrap;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.question {
  position: absolute;
  background: var(--bg-color);
  width: 861px;
  height: 206px;
  left: 530px;
  top: 166px;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 0 0 23.8px var(--shadow-color), inset 0 4px 4px var(--shadow-color);
  text-align: center;
  font-size: 35px;
  text-transform: uppercase;
  white-space: pre-wrap;
  overflow: hidden;

  & > div {
    transition: 0.25s;
    top: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    position: relative;
  }

  &.attachmentShown > div {
    top: -100%;
  }
}

.options {
  transition: 0.8s;
  position: absolute;
  width: 100%;
  padding: 0 61px;
  top: 419px;
  &.dynamic {
    top: 380px;
  }
  left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  perspective: 1000px;
}
.sep {
  border-top: 2px solid black;
  margin-top: 20px; 
  width: 100%;
}
.optionContainer {
  position: relative;
  margin-top: 32px;
  .dynamic & {
    margin-top: 20px;
  }
  .swap &:nth-child(-n+6) {
    translate: 0 344px;
  }
  .swap &:nth-child(n+7) {
    translate: 0 -344px;
  }
  width: 836px;
  height: 88px;
  transition: 0.8s;
  transform-style: preserve-3d;
  &.opened {
    transform: rotateX(180deg);
  }
}
.option, .faceDown {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  align-items: center;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
.faceDown {
  .highlighted & {
    outline: 5px solid black;
  }
  box-shadow: inset 0 4px 4px rgba(255, 255, 255, 0.25), inset 0 0 15px rgba(255, 255, 255, 0.25);
  background: var(--bg-color);
  font: 96px 'Notable';
  justify-content: center;

  & span {
    margin-top: -28px;
  }
}
.option {
  font-size: 34px;
  text-transform: uppercase;
  padding: 0 20px;
  transform: rotateX(180deg);
  background: black;
  color: var(--bg-color);
}
@keyframes disappear {
  to {
    opacity: 0;
  }
}
.starClosed.starClosed {
  color: black;
  font-size: 60px;
  position: absolute;
  top: 2px;
}
.star.star {
  color: var(--bg-color);
  font-size: 60px;
  margin-left: 8px;
  opacity: 1;
  display: block;

  & svg {
    display: block;
  }

  &.opened {
    animation-name: disappear;
    animation-fill-mode: forwards;
    animation-iteration-count: 7;
  }

  &.invisible {
    opacity: 0;
  }
}
.optionScore {
  flex: 1;
  text-align: right;
}
@keyframes hitBlue {
  to {
    background: var(--blue);
  }
}
@keyframes hitRed {
  to {
    background: red;
  }
}
.leftTeam.hit, .rightTeam.hit, .star.opened {
  animation-duration: 0.1s;
  animation-direction: alternate;
  animation-iteration-count: 6;
  animation-timing-function: linear;
}
.leftTeam.hit {
  animation-name: hitBlue;
}
.rightTeam.hit {
  animation-name: hitRed;
}
.team {
  width: 428px;
  height: 308px;
  position: absolute;
  top: 64px;
  border: 1px solid black;
  border-radius: 24px;
  background: #C6F1FF;

  &.subtotal {
    top: 360px;
  }

  &.leftTeam {
    left: 61px;
    &.subtotal {
      left: 400px;
    }

    & .score {
      background: var(--blue);
    }
    & .health {
      flex-direction: row;
    }
    & .heartholder.holds {
      background: var(--blue);
    }
  }
  &.rightTeam {
    right: 61px;
    &.subtotal {
      right: 400px;
    }

    & .score {
      background: red;
    }
    & .health {
      flex-direction: row-reverse;
    }
    & .heartholder.holds {
      background: red;
    }
  }
}
.score {
  width: 378px;
  height: 130px;
  border: 1px solid black;
  margin: 18px 24px;
  color: white;
  font: 107px Notable;
  text-align: center;
  line-height: 110px;
  border-radius: 24px;
}
.health {
  padding: 0 19px;
  display: flex;
  justify-content: space-between;
  transition: 1s;
}
.subtotal .health {
  justify-content: center;
  font: 107px Notable;
  line-height: 110px;
}
.wrapper {
  padding: 3px;
  border: 3px solid black;
  border-radius: 61px;
}
.heartholder {
  width: 110px;
  height: 110px;
  border: 1px solid black;
  border-radius: 55px;
  background: white;
  display: flex;
  justify-content: center;
  padding-top: 31px;
  transition: 0.5s;

  &.holds img {
    margin-top: 0;
    opacity: 1;
  }

  & img {
    width: 58px;
    height: 49px;
    transition: 0.5s;

    margin-top: -50px;
    opacity: 0;
  }
}
.finaleQuestions {
  top: 331px;
  left: 54px;
  position: absolute;
}
.finaleQuestion {
  height: 129px;
  width: 455px;
  background: var(--bg-color);
  border: 1px solid black;
  border-width: 1px;
  font-size: 24px;
  text-transform: uppercase;
  overflow: hidden;

  &:first-child {
    border-radius: 18px 18px 0 0;
  }

  &:last-child {
    border-radius: 0 0 18px 18px;
  }

  & .closed {
    justify-content: center;
    font: 96px 'Notable';
    
    & span {
      margin-top: -20px;
    }
  }

  & > div {
    transition: 0.25s;
    top: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 23px;
    position: relative;
  }

  &.opened > div {
    top: -100%;
  }
}
.finaleTeam {
  position: absolute;
  top: 252px;
  width: 610px;
  display: flex;
  flex-wrap: wrap;
  left: 599px;

  &.second {
    left: 1260px;
  }
}
.name {
  width: 201px;
  height: 78px;
  border: 1px solid black;

  font-size: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-transform: uppercase;
  text-align: center;
  padding: 0 6px;

  &.blue {
    background: var(--blue);
  }

  &.red {
    background: red;
  }

  &:first-child {
    border-radius: 18px 0 0 0;
  }

  &:nth-child(3) {
    border-radius: 0 18px 0 0;
  }
}
.cells {
  display: flex;
  width: 700px;
  flex-wrap: wrap;
}
.finaleCell {
  width: 201px;
  height: 129px;
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  &.opened {
    transform: rotateX(180deg);
  }

  &:nth-child(13) > * {
    border-radius: 0 0 0 18px;
  }

  &:last-child > * {
    border-radius: 0 0 18px 0;
  }

  & .empty, & .content {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  & .empty {
    background: var(--bg-color);
    border: 1px solid black;
  }
  & .content {
    background: black;
    color: var(--bg-color);
    border: 1px solid var(--bg-color);
    transform: rotateX(180deg);
  }
}
.cellScore {
  position: absolute;
  top: 17px;
  right: 13px;
  font-size: 37px;
  line-height: 20px;
  opacity: 0;

  &.opened {
    animation-name: appear;
    animation-fill-mode: forwards;
    animation-iteration-count: 5;
    animation-duration: 0.2s;
    animation-timing-function: linear;
  }
}
@keyframes appear {
  to {
    opacity: 1;
  }
}
.cellValue {
  position: absolute;
  bottom: 17px;
  left: 13px;
  font-size: 17px;
  text-transform: uppercase;
}
.finaleScore {
  width: 378px;
  height: 130px;
  border: 1px solid black;
  color: white;
  font: 107px Notable;
  text-align: center;
  line-height: 110px;
  border-radius: 24px;
  top: 59px;
  left: 599px;
  position: absolute;

  &.second {
    left: 1260px;
  }

  &.blue {
    background: var(--blue);
  }
  &.red {
    background: red;
  }
}
.finaleName {
  position: absolute;
  background: black;
  width: 455px;
  height: 130px;
  left: 54px;
  top: 59px;
  color: var(--bg-color);
  border: 1px solid var(--bg-color);
  border-radius: 20px;
  box-shadow: 0 0 23.8px var(--shadow-color);
  font-size: 32px;
  text-transform: uppercase;
  white-space: pre-wrap;
  display: flex;
  align-items: center;
  padding: 0 30px;
}
