.optionText {
    flex: 1;
}
.scoreEdit, .bonusEdit {    
    & input {
        font-family: monospace;
    }
}
.scoreEdit {
    margin-left: 8px;
    width: 45px;
}
.bonusEdit {
    margin-left: 8px;
    width: 36px;
}
.optionExtra {
    display: flex;
}
.attachmentsContainer, .bonusContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.attachmentsContainer {
    align-items: flex-start;
}
.bonusContainer {
    align-items: flex-end;
}
.more {
    align-self: center;
}
.bonus {
    margin-top: 4px;
}
.header {
    display: flex;
    align-items: baseline;
    margin-right: -8px !important;
}
.actions {
    margin: -8px 0 -4px;
}
.add {
    align-self: center;
}
.wrong {
    align-self: flex-start;
}
table.options {
    &, & td {
        border-collapse: collapse;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }
    & td {
        width: 50%;
        vertical-align: top;
    }
    width: 100%;
    background: white;
    border-radius: 4px;
}
.score {
    /* #6183a8 */
    background: rgba(100, 128, 150, 0.1);
    padding: 0 5px;
}
.list {
    padding: 40px 20px 300px;
    max-width: 800px;
    margin: 0 auto;

    &.wide {
        max-width: 1000px;
    }
}
.bottomButtons {
    display: flex;
    align-items: center;
    gap: 20px;
}
.optionText {
    flex: 1;
    &.black {
        color: black;
    }
    &.tiny {
        font-weight: normal;
    }
}
.gameOption {
    margin: 8px;
}
.image {
    max-width: 100%;
    max-height: 80px;
    border: 2px solid white;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    align-self: center;
}
.imgWrapper, .text {
    position: relative;
    line-height: 0;
    
    &:hover .close, &:hover .toggleShow {
        visibility: visible;
    }
}
.imgWrapper {
    padding-top: 8px;
}
.pad {
    & .imgWrapper {
        padding: 8px;
    }
    & .text {
        margin: 8px !important;
    }
}
.text {
    margin: 8px 0 0 0 !important;
    white-space: pre-wrap;
}
.close {
    visibility: hidden;
    position: absolute !important;
    top: 0;
    right: 0;
    padding: 2px;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    line-height: 0;
    &:hover {
        background: black;
    }
    & svg {
        color: white;
    }
}
:global .MuiModal-root.MuiModal-root {
    z-index: 100500;
}
