.optionText {
    flex: 1;
}
.scoreEdit, .bonusEdit {    
    & input {
        font-family: monospace;
    }
}
.scoreEdit {
    margin-left: 8px;
    width: 45px;
}
.bonusEdit {
    margin-left: 8px;
    width: 27px;
}
.optionExtra {
    display: flex;
}
.attachments, .bonus {
    flex: 1;
    padding-top: 4px;
}
.bonus {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.header {
    display: flex;
    align-items: baseline;
    margin-right: -8px !important;
}
.actions {
    margin: -8px 0 -4px;
}
.add {
    align-self: center;
}
.wrong {
    align-self: flex-start;
}
table.options {
    &, & td {
        border-collapse: collapse;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }
    & td {
        width: 50%;
    }
    width: 100%;
    background: white;
    border-radius: 4px;
}
.score {
    /* #6183a8 */
    background: rgba(100, 128, 150, 0.1);
    padding: 0 5px;
}
.list {
    padding: 40px 20px 100px;
    max-width: 800px;
    margin: 0 auto;
}
.optionText {
    flex: 1;
    &.black {
        color: black;
    }
    &.tiny {
        font-weight: normal;
    }
}
