.gameControl {
    flex: 1;
    align-items: baseline;
}
.toggle {
    cursor: pointer;
    user-select: none;
}
.overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.25);
    z-index: 100;
}
.hideButton {
    z-index: 101;
}

.panel {
    position: fixed;
    bottom: 16px;
    height: 0;
    left: 16px;
    right: 16px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 16px;
    z-index: 2;

    & > * {
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
    }
}
.spacer {
    flex: 1;
}

.outlined.outlined {
    background-color: white;
}

.finaleScoreEdit {
    width: 55px;

    & input {
        font-family: monospace;
    }
}

.tabsContainer {
    background: none !important;
}
.finaleButtonGroup {
    width: 100%;
}
.list {
    padding: 40px 20px 300px;
    max-width: 1000px;
    margin: 0 auto;
}
.options {
    width: 100%;
    background: white;
    border-radius: 4px;
    columns: 2;
    column-gap: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}
.gameOption {
    border-collapse: collapse;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-style: none solid solid none;
    padding: 8px;
    margin: 0 -1px -1px 0;
    word-break: break-all;
}
.optionButton.optionButton {
    background: white;
    border: 1px solid #ddd;
    word-break: break-all;
}
